.pied-page {
	background-color: $footer-color;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #ffffff;
	padding: 30px 0;

	img {
		max-width: 100px;
		margin-bottom: 20px;
	}
}
