html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a,
a:hover {
  text-decoration: none;
  color: #FF6060;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 30px;
}

p,
li,
ul,
ol {
  font-size: 1.6rem;
  margin: 0;
}

.entete-page {
  max-width: 1180px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.entete-page img {
  max-width: 150px;
}
.entete-page__nav_items {
  margin-left: 20px;
  font-size: 1.6rem;
}
.entete-page .active {
  position: relative;
}
.entete-page .active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #FF6060;
}

.pied-page {
  background-color: #000000;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 30px 0;
}
.pied-page img {
  max-width: 100px;
  margin-bottom: 20px;
}

.corps-page {
  max-width: 1180px;
  width: 80%;
  margin: auto auto 50px;
}

.titre__page {
  height: 200px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: black;
  margin-bottom: 30px;
}
.titre__page:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}
.titre__page.home:after {
  background: url("./assets/header-home.png");
  background-position: center;
  background-size: 120%;
}
.titre__page.about:after {
  background: url("./assets/header-about.png");
  background-position: center;
  background-size: cover;
}

.header-logement {
  display: flex;
  justify-content: space-between;
  color: #FF6060;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.header-logement__presentation {
  width: 80%;
}
.header-logement__title {
  font-size: 3.6rem;
  margin: 0;
}
.header-logement__host {
  display: flex;
  align-items: center;
  width: 150px;
}
.header-logement__host-name {
  text-align: right;
}
.header-logement__host-picture {
  width: 64px;
  border-radius: 100%;
  margin-left: 10px;
}

.logement-caracteristique {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0;
}
.logement-caracteristique__tag {
  width: 80%;
}
.logement-caracteristique__tag li {
  display: inline-block;
  background: #FF6060;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1.4rem;
  margin-right: 10px;
}
.logement-caracteristique__tag li:last-child {
  margin-right: 0;
}
.logement-caracteristique__rating {
  font-size: 2rem;
}

.full-star {
  color: #FF6060;
}

.empty-star {
  color: #e3e3e3;
}

.logement-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logement-details .collapse {
  width: 45%;
}

.corps-page.error {
  text-align: center;
  color: #FF6060;
}
.corps-page.error p {
  font-size: 2.4rem;
  margin-bottom: 30px;
}
.corps-page.error .link {
  text-decoration: underline;
}

.title--error {
  font-weight: 700;
  font-size: 15rem;
  margin-bottom: 30px;
}

.collapse {
  background-color: #f6f6f6;
  margin-bottom: 30px;
  border-radius: 0px 0px 5px 5px;
}

.collapse__title {
  background: #FF6060;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.collapse__title i {
  font-size: 1.6rem;
}

.collapse__content {
  padding: 10px 20px;
  color: #FF6060;
}

.logements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.logements-items {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.logements-items__img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 2;
  display: inline-block;
}
.logements-items__img:after {
  content: "dfgdfgdfg";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: -1;
}
.logements-items__title {
  color: #fff;
  position: absolute;
  z-index: 3;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: calc(100% - 40px);
  height: calc(100% - 43px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/*# sourceMappingURL=index.css.map */
